<html>
    <head>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />

    </head>

<body style="background-color:pink;">
    <div style="margin:150px auto;">
       <div class="col-md-5 col-md-offset-4">
           <div class="well well-lg">
             <div class = "jumpbutton" >
                    <div class = "container ">
                       
                        <h1>TODAY'S LUCKY THINGS <i class="fa fa-paw" aria-hidden="true"></i> </h1>
                         
                        <h4>check out what is your lucky things</h4>
                        <p>
                            <a class ="btn btn-primary btn-lg" href="result" role="button">확인하러가기</a>
                        </p>
                    </div>
             </div>
             </div>
      </div>
   </div>

</body>

</html>