<div class = "container">
     <h1>결과를 보여주는 페이지 입니다.</h1>
     <p><%= "이번주 로또 번호는 #{@drw_numbers2} 이고,  보너스 번호는 #{@bonus_number2} 입니다."%></p>
     <p><%="추첨한 로또 번호는 #{@my_numbers2} 입니다."%></p>
     <p><%="겹치는 번호는 #{@match_numbers2} 입니다."%></p>
     <p><%="결과는 #{@result2} 입니다."%></p>

</div>